# dependencias y sistema
node_modules/
.DS_Store

# backups y archivos locales
public/index.backup.html
server.backup.js
data/*.csv

# env
.env
node_modules
node_modules/
.DS_Store
api/
data/leads.csv
feedback.json
public/index.backup.html
backup-farodigital-api.git/
